# Optionals
aiofiles
cryptography
itsdangerous
jinja2
python-multipart
pyyaml
requests
ujson
uvicorn['standard']
StringGenerator
microdict
spylls

# Testing
autoflake
black==20.8b1
databases[sqlite]
flake8
isort==5.*
mypy
pytest
pytest-cov
pytest-asyncio

# Documentation
mkdocs
mkdocs-material
mkautodoc

# Packaging
twine
wheel
